
body {
   font: 14pt 'Alike', sans-serif;
   background-color: lightblue;
}
#note {
  font-size: 164px;
}
.droptarget {
  background-color: #348781
}
div.confident {
  color: black;
}
div.vague {
  color: lightgrey;
}
#note {
  display: inline-block; height:180px; text-align: left;
}
#detector {
  text-align: center;
  padding-top: 10px;

}
#output {
  width: 300px; height: 42px;
}
#flat {
  display: none;
}
#sharp {
  display: none;
}
.flat #flat {
  display: inline;
}
.sharp #sharp {
  display: inline;
}
.panel {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}
#stave {
  width:300px;
  height: 100px;
  margin: 0 auto;
}
canvas {
  display: block;
  margin: 0 auto;
}

.flatColour{
  color: red;
}
.sharpColour{
  color:green;
}
.absoluteColour {
  color:yellow;
}
.value{
  display: block;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 980px) {
    body {
        background-color: lightgreen;
    }
    .mediaquery {
      width: 500px;
      height: 300px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
    

}
